:root {
    --main-color: #ffc066;
    --secondary-color: #247BB3;
    --secondary-color-light: #66C4FF;
    --accent-color-dark: #B37E36;
    --accent-color-light: #FFCA80;
    --light-gray: #888;
    --dark-gray: #555;
} 

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;700&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: var(--accent-color-light);
    font-family: 'Nunito', sans-serif;
}

.flex-row-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-col-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.less-margin {
    margin: 0.5em;
}

.containers {
    width: 200px;
    height: 20px;
    text-align: center;
    z-index: 2;
}

.col-1 {
    color: var(--accent-color-dark);
}

.col-2 {
    color: var(--secondary-color);
}

.col-3 {
    color: var(--secondary-color-light)
}

button {
    border-radius: 1em;
    padding: 0.5em;
    margin: 1em;
    color: var(--dark-gray);
    border: 3px outset var(--dark-gray);
    background-color: var(--light-gray);
    transition: 1s;
    z-index: 2;
    position: relative;
}

#upgrade {
    z-index: 5;
}

/* common and core CSS */

main {
    width: 640px;
    height: 400px;
    background-image: url(../images/background1.gif);
    border: 2px solid var(--accent-color-dark);
    background-color: var(--secondary-color-light);
    z-index: 1;
}
/* I'm using pixels instead of em/rem because image placement and consistency is important.
It might not look great on bigger/newer screens, but it wasn't a priority in this project. */

#title {
    width: 600px;
    justify-content: space-between;
}

#l-board {
    margin-top: 5em;
    border: 2px solid var(--secondary-color);
    background-color: rgba(0,0,0,0.5);
    color: var(--secondary-color-light);
}

#l-board h3 {
    text-decoration: underline;
}

#cat-container {
    width: 100px;
    height: 100px;
    /* background-color: red; */
    overflow: none;
}

#cat-image {
    /* background-image: url(../images/cat1n.png); */
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: none;
    background-position: center;
    position: relative;
    transition: 0.2s;
    z-index: 5;
}

#cat-image:hover {
    width: 110%;
    height: 110%;
}

#item-background {
    width: 640px;
    height: 400px;
    z-index: -1;
    position: absolute;
    top: 110px;
    margin: auto;
}

#kibble-img {
    background-image: none;
    position: relative;
    height: 80px;
    width: 80px;
    top: 250px;
    left: 170px;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
}

#toy-img {
    background-image: none;
    position: relative;
    height: 80px;
    width: 80px;
    top: 100px;
    left: 160px;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
}

#friend-img {
    background-image: none;
    position: relative;
    height: 80px;
    width: 80px;
    top: 90px;
    left: 350px;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
}

/* Chose to use Background-image instead of <img> for the clickable cat. */

/* THIS IS NOT DESIGNED FOR MOBILE. It DOES work on mobile however! */