:root {
    --main-color: #ffc066;
    --secondary-color: #247BB3;
    --secondary-color-light: #66C4FF;
    --accent-color-dark: #B37E36;
    --accent-color-light: #FFCA80;
} 

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;700&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: var(--accent-color-light);
    font-family: 'Nunito', sans-serif;
}

.flex-row-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-col-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.containers {
    width: 200px;
    height: 20px;
    text-align: center;
}

button {
    border-radius: 1em;
    padding: 0.5em;
    margin: 1em;
}

/* common and core CSS */

main {
    width: 640px;
    height: 400px;
    background-image: url(../images/background1.gif);
    border: 2px solid var(--accent-color-dark);
    background-color: var(--secondary-color-light);
}

#title {
    width: 600px;
    justify-content: space-between;
}

#cat-container {
    width: 100px;
    height: 100px;
    /* background-color: red; */
    overflow: none;
}

#cat-image {
    /* background-image: url(../images/cat1n.png); */
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: none;
    background-position: center;
    position: relative;
    transition: 0.2s;
}

#cat-image:hover {
    width: 110%;
    height: 110%;
}